/.exe
/.vscode
/001ddaLine.c
/2d_transformation.cpp
/2d_transformation.exe
/breshman.cpp
/breshman.exe
/floodFill.cpp
/floodFill.exe
/midcircle.cpp
/midcircle.exe
/midellipse.cpp
/midellipse.exe
/paint project
/rough.cpp
/rough.exe
/test.cpp
/test.exe
/test2.exe
/translation.cpp
/translation.exe